# Ignore configuration files
appsettings.json
appsettings.*.json

# Ignore Visual Studio specific files
.vs/

# Ignore build output
**/bin/
**/obj/

# Ignore user-specific and cache files
*.suo
*.vscode/
*.cache
*.idx
*.futdcache.v2

# Ignore NuGet-related files
project.assets.json
project.nuget.cache
*.nuget.g.props
*.nuget.dgspec.json
